.owl-carousel .item {
  text-align: center;
  background: #ddd;
  padding: 0px;  
}

.owl-carousel .owl-nav {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

}
.owl-carousel .owl-nav button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 50%;  
  width: 50px;
  height: 50px;
  background: #fff !important;  
  line-height: 46px;
  text-align: center;  
  padding-top: 0;
  padding-bottom: 0;
  border: 0;  
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);  

}

.owl-carousel .owl-nav > button > span {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
}

.owl-carousel:hover .owl-nav {
    opacity: 1;    
}


.owl-carousel .owl-nav > button.owl-prev {
  right: auto !important;
  left: 0 !important;
}

.owl-carousel .owl-nav > button.owl-next {
  right: 0 !important;
  left: auto !important;
}


.owl-carousel .owl-nav > button:hover {
  background: #f3a820 !important;
  color: #fff;
}


.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-dots {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  display: block;
  clear: bottom;
}
.owl-carousel .owl-dots .owl-dot {
  width: 16px;
  height: 6px;
  background: #ADB2B5;
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
  display: inline-block;
  margin: 0 5px;
  border-radius: 4px;
  border: none;
  outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #f3a820 ;
}